@import "loader";

@mixin hv-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

$header-height: 50px;
$row-height: 50px;

body {
  margin: 0;
}

th, td {
  border-bottom: 1px dashed #999;
  border-right: 1px dashed #999;
  height: $row-height;
  padding: 5px;
}

th {
  color: #666;
  font-weight: 500;
}

.header {
  border-bottom: 1px solid #aaa;
  height: $header-height;
}

.navigate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 145px;

  .button {
    cursor: pointer;
    font-size: 20px;
  }
}


.gridContainer {
  overflow-x: hidden;
  width: 100%;
}

.gridBody {
  height: calc(100% - #{$header-height});
  min-height: 400px;
  width: 100%;

  @include hv-center();
}


.gridTable {
  border-spacing: 0px;
  table-layout: fixed;
  width: 200%;

  transform: translateX(0%);
  transition: transform 1000ms ease-in-out;

  &--next {
    transform: translateX(-50%);
  }

  &--prev {
    transform: translateX(0%);
  }

  thead tr {
    -webkit-box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.16); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.16);  /* Firefox 3.5 - 3.6 */
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.16);

    th, td {
      border: none;
      border-bottom: 1px solid #aaa;
    }
  }
}

select {
  border: 0;
  background: none;
  font-size: 14px;
  font-weight: bold;
  &:focus {
    outline: none;
  }
}

.room__isBooked {
  div {
    background-color: #0eb550;
    border-radius: $row-height/2;
    color: white;
    height:100%;

    @include hv-center();
  }
}
