@import "loader";

@mixin hv-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

$header-height: 50px;
$row-height: 50px;

body {
  margin: 0;
}

table, th, td {
  padding: 5px;
  border: 1px dashed #999;
}

th, td {
  height: $row-height;
}

th {
  color: #666;
  font-weight: 500;
}

.header {
  border-bottom: 1px solid #aaa;
  height: $header-height;
}

.navigate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100px;

  .button {
    cursor: pointer;
    font-size: 20px;
  }
}


.gridContainer {
  overflow-x: hidden;
  width: 100%;
}

.gridBody {
  height: calc(100% - #{$header-height});
  width: 100%;

  @include hv-center();
}


.bookingInfoTable {
  border-collapse: collapse;
  border-spacing: 0px;
  border-top: none;
  table-layout: fixed;
  width: 200%;

  transform: translateX(0%);
  transition: transform 1000ms ease-in-out;

  &--next {
    transform: translateX(-50%);
  }

  &--prev {
    transform: translateX(0%);
  }

  thead tr {
    border-bottom: 1px solid #aaa;
    border-top: none;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.16);

    th {
      border: none;
    }
  }
}

select {
  border: 0;
  background: none;
  font-size: 14px;
  font-weight: bold;
  &:focus {
    outline: none;
  }
}

.isBooked {
  div {
    background-color: #0eb550;
    border-radius: $row-height/2;
    height:100%;

    @include hv-center();
  }
}
